on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  my_job:
    name: deploy to staging
    runs-on: macos-12.5
    steps:
    - uses: actions/checkout@v3
    - name: flutter install
      run: flutter pub upgrade
    - name: flutter build
      run: flutter build ios
        
  
